*.orig
*.rbc
*.sassc
.DS_Store
.bundle
.rake_tasks~
.rspec
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
coverage
db/*.sqlite3
log/*.log
pickle-email-*.html
public/stylesheets/*.css
rerun.txt
tmp/**/*
