<div id="nda">
  <p>
    <br/>
    <h3>
      ELC Ventures, LLC SINGLE PARTY NON-DISCLOSURE AGREEMENT
    </h3>
  </p>

  <p>
    This Non-Disclosure Agreement ("Agreement") is made as of <%= Time.now %> (the “Effective Date”) between ELC Ventures, LLC ("Company") having its principal place of business at 358 Thorpe Circle, Thousand Oaks, California and the recipient identified below (“Name" and "Recipient").
  </p>

  <p>
    <br/>
    1. Definition. “Confidential Information” means information disclosed to Recipient at any time relating to Company's business, including, without limitation, product designs, product plans, technology, financial information, marketing plans, business opportunities, pricing information, discounts, inventions and know-how to the extent disclosed to the Recipient hereunder. Confidential Information also includes the terms and conditions of this Agreement and the existence of the discussions between the parties.
  </p>
  <p>
  <br/>
    2. Use of Confidential Information.  Recipient may use the Confidential Information only for the purpose of internal evaluation of whether to enter into a business relationship with Company.
  </p>
  <p>
    <br/>
    3. Disclosure of Confidential Information. Recipient shall: (i) hold Confidential Information in strict confidence and take reasonable precautions to protect such Confidential Information (including, without limitation, all precautions Recipient employs with respect to its own confidential materials); (ii) not to divulge any Confidential Information to any third party (other than to employees or contractors as set forth below); and (iii) not to copy or reverse engineer any materials disclosed under this Agreement or remove any proprietary markings from any Confidential Information. Any employee or contractor given access to any Confidential Information must have a legitimate “need to know” and Recipient shall remain responsible for each such person’s compliance with the terms of this Agreement.
  </p>
  <p>
    <br/>
    4. Term; Confidentiality Period. This Agreement shall continue in effect until terminated by Company upon written notice to Recipient. Recipient’s obligations with respect to Confidential Information under this Agreement expire five (5) years from the date of receipt of the Confidential Information (except that with respect to any trade secrets the obligations shall be perpetual). These obligations shall survive any termination or expiration of this Agreement.
  </p>
  <p>
    <br/>
    5. Exclusions. This Agreement imposes no obligations with respect to information which: (i) was in Recipient’s possession before receipt from Company, (ii) is or becomes a matter of public knowledge through no fault of Recipient, (iii) was rightfully disclosed to Recipient by a third party without restriction on disclosure or (iv) is developed by Recipient without use of the Confidential Information and such independent development can be shown by documentary evidence. Recipient may make disclosures required by court order provided Recipient uses diligent efforts to limit disclosure and to obtain confidential treatment or a protective order and has allowed Company to participate in the proceeding.
  </p>
  <p>
    <br/>
    6. Return or Destruction of Confidential Information. Upon termination of this Agreement or written request by Company, the Recipient shall: (i) cease using the Confidential Information, (ii) return or destroy the Confidential Information and all copies, notes or extracts thereof to Company within seven (7) business days of receipt of request, and (iii) upon request of Company, confirm in writing that Recipient has complied with these obligations.
  </p>
  <p>
    <br/>
    7. Proprietary Rights. Neither party to this Agreement acquires any intellectual property rights or any other rights under this Agreement except the limited right to review the Confidential Information set forth in Section 2.
  </p>
  <p>
    <br/>
    8. Disclaimer. CONFIDENTIAL INFORMATION IS PROVIDED “AS IS” AND WITH ALL FAULTS.
  </p>
  <p>
    <br/>
    9. Export. Recipient agrees not to remove or export from the United States or re-export any such Confidential Information or any direct product thereof, except in compliance with, and with all applicable U.S. and foreign export laws and regulation.
  </p>
  <p>
    <br/>
    10. Injunctive Relief. Each party acknowledges that any breach of this Agreement may cause irreparable harm for which monetary damages are an insufficient remedy and therefore that upon any breach of this Agreement Company shall be entitled to appropriate equitable relief without the posting of a bond in addition to whatever remedies it might have at law.
  </p>
  <p>
    <br/>
    11. General. Neither party has an obligation under this Agreement to purchase or offer for sale any item or proceed with any proposed transaction. In the event that any of the provisions of this Agreement shall be held illegal or unenforceable by a court of competent jurisdiction, such provisions shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect.  This Agreement shall be governed by the laws of the State of California and the United States without regard to conflicts of laws provisions thereof.  Unless waived by Company in its sole discretion, the jurisdiction and venue for any action arising out of or relating to the subject matter of this Agreement shall be the California state and United States federal courts located in San Francisco, California, and both parties hereby submit to the personal jurisdiction of such courts.  This Agreement supersedes all prior discussions and writings and constitutes the entire agreement between the parties with respect to the subject matter hereof. The prevailing party in any action to enforce this Agreement shall be entitled to costs and attorneys’ fees. No waiver or modification of this Agreement will be binding upon either party unless made in writing and signed by a duly authorized representative of each party and no failure or delay in enforcing any right will be deemed a waiver.
  </p>
</div>
