.installers.container
  %h2 Download Installers
  %h4 Use these installers to easily integrate MAASIVE into your project.
  = link_to "iOS Installer", "http://www.static.maasive.co/iOS/MaaSiveGettingStarted.dmg"
  = link_to "Android Installer", "http://dl.dropbox.com/u/1574088/elc/MaaSive/Installer/MaaSiveInstaller.zip"
  = link_to "Windows Phone 7 Installer", "http://static.maasive.co/WP7/SDK/MaaSive.zip"
