#about_us.container
  %h2 About Us
  %p 
    The MaaSive team has spent a lot of time around cloud and mobile development.  That is because MaaSive is a spinout from 
    = link_to "ELC Technologies", "http://elctech.com"
    , a leader in mobile and cloud development for over 10 years.  There are over 80 million people using ELC developed applications globally.  During the process of developing cloud-backed mobile applications for Fortune 500 companies we realized we were running into the same problems repeatedly.  These problems were specific to developing and integrating with robust, scalable backends for mobile applications.  Problems included sharing data and class representations across multiple platforms, performance and security models. We recognized that this was the most expensive and time-consuming part of the development cycle while distracting developers from focusing time best spent on the overall user experience.
 
  %p We tried numerous development platforms that claimed to address these types of problems but none of them solved our problems while providing the flexibility and power we required.  We decided to develop a platform we could use internally that would address these issues and eliminate associated development headaches.  The MaaSive SDK is the result of this work.  We have used MaaSive to eliminate many of these issues.  We believe the greater development community will find our solution valuable which is why we decided to release MaaSive to the public.