
  <div class='app_key_info'>
    <p><strong>App Id:</strong> <%=  @app.identifier %></p></br>
    <p><strong>Secret Key:</strong> <span> <a href='#' class='new_sub_header_button' data-secret-key-url="<%= secret_key_app_path(@app.identifier) %>">show</a></span></p>
  </div>
