%p
  Hello #{@invite.email}

%p
  We're getting a lot of invite requests, but we'll let you in as soon as possible.

%p
  In the meantime, feel free to follow along with the development at #{link_to 'http://blog.maasive.co', 'http://blog.maasive.co'}
