%footer
  .container
    .content
      %ul.footer_nav
        %li
          = link_to "Made By ELC", "http://elctech.com"
        %li
          = link_to "MAASIVE Blog", "http://blog.maasive.co"
        %li
          = link_to "Download Installers", installers_path
